@use 'index';

body {
  #content {
    aside {
      height: 100vh;
      background-color: index.$theme-dark;
      border-right: 1px solid index.$border-dark;
  
      grid-row: 1 / 3;
      display: grid;
      grid-template-rows: 1.5fr 1fr;
      justify-content: center;
      div:first-child {
        .title {
          color: index.$font-white;
          font-weight: bold;
          margin: 20px 0px;

          display: flex;
          align-items: center;
          gap: 10px;
          img {
            @include index.icon-size(28px);
          }
          h1 {
            font-size: 1.5rem;
          }
        }
        .due {
          li {
            list-style: none;
            padding: 10px 0px;

            display: flex;
            align-items: center;
            gap: 10px;
            img {
              @include index.icon-size(20px);
            }
            button {
              @include index.button-styling();
              color: index.$font-white;
              padding: 0;
            }
          }
        }
        .boards-list {
          h3 {
            color: index.$font-gray;
            font-size: 0.7rem;
            font-weight: bold;
            letter-spacing: 3px;
            margin: 30px 0px 10px 0px;
          }
          ul {
            li {
              padding: 10px 0px;
              list-style: none;
              button {
                @include index.button-styling();
                padding: 0;

                display: flex;
                align-items: center;;
                gap: 10px;
                p {
                  color: index.$font-white;
                }
              }
            }
          }
          .button-create-board {
            @include index.button-styling();
            margin: 5px 8px;
            padding: 10px 0px;
            border-radius: 10px;;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            transition: all 0.3s;
            &:hover {
              background-color: index.$theme-darker;
            }
            img {
              @include index.icon-size(18px);
            }
            p {
              font-size: 0.8rem;
              letter-spacing: 1px;
              color: index.$theme-purple;
            }
          }
        }
      }
      div:last-child {
        align-self: end;

        display: grid;
        .night-mode {
          display: grid;
          grid-template-columns: 25px 55px 25px;
          justify-content: center;
          align-content: center;
          align-items: center;
          gap: 10px;
          img {
            @include index.icon-size(25px);
          }
          input {
            position: relative;
            width: 45px;
            height: 22px;
            -webkit-appearance: none;
            appearance: none;
            background: index.$font-gray;
            outline: none;
            border-radius: 2rem;
            cursor: pointer;
            box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
            &::before {
              content: "";
              width: 22px;
              height: 22px;
              border-radius: 50%;
              background: #fff;
              position: absolute;
              top: 0;
              left: 0;
              transition: 0.5s;
            }
            &:checked::before {
              transform: translateX(100%);
              background: #fff;
            }
            &:checked {
              background: index.$theme-purple;
            }
          }
        }
        .hide {
          @include index.button-styling();
          background-color: index.$theme-gray;
          border-radius: 8px;
          padding: 10px 20px;
          margin: 25px 0px;


          display: flex;
          align-items: center;
          &:hover img{
            transform: translateX(-5px)
          }
          img {
            transition: all 0.2s;
            @include index.icon-size(25px);

          }
          p {
            transition: all 0.4s;
            font-size: 0.8rem;
            font-weight: bold;
            letter-spacing: 1px;
            color: index.$font-white;
            margin-left: 5px;
          }
        }
        .github {
          margin-bottom: 40px;
          a {
            font-weight: bold;
            font-size: 0.65rem;
            color: index.$font-white;
            text-decoration: none;
            padding: 5px;
    
            display: grid;
            grid-template-columns: 20px 120px;
            align-items: center;
            gap: 10px;
            img {
                padding: 0;
                @include index.icon-size(20px)
            }
            &:hover p {
                display: none;
            }
            &:hover:after {
                content: "Click to see code";
            }
          }
        }
      }
    }
  }
}