@use 'index';

body {
  #content {
    .dialog-create-board,
    .dialog-edit-board {
      width: min(380px, 100%);
      background-color: var(--theme-two);
      border: none;
      border-radius: 10px;;
      padding: 10px 25px;

      &::backdrop {
        background-color: black;
        opacity: 0.6;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h6 {
          color: var(--font-one);
          font-weight: 500;
          padding: 10px 0px;
        }
        div {
          display: flex;
          gap: 15px;
          button {
            background-color: transparent;
            border: none;
            background-color: var(--backdrop-two);
            border-radius: 50px;
            padding: 5px;
            cursor: pointer;
  
            display: flex;
            align-items: center;
  
            transition: all 0.2s;
            &:hover {
              filter: brightness(120%);
            }
            svg {
              @include index.icon-size(20px);
              color: var(--font-one);
            }
          }
        }
      }
      form {
        display: grid;
        div {
          label {
            color: var(--font-one);
            font-size: 0.8rem;
            margin: 4px;
          }
          span {
            color: #ff5c5c;
            font-size: 0.8rem;
            margin: 4px;
          }
        }

        input {
          color: var(--font-one);
          font-size: 0.9rem;
          background-color: var(--theme-two);
          border: 1px solid var(--border);
          border-radius: 5px;
          caret-color: var(--font-one);
          height: 35px;
          padding: 10px;
          width: 100%;
          &::placeholder {
            font-size: 0.8rem;
            padding: 5px;
          }
          &:focus {
            outline: none;
          }
        }
        button {
          color: white;
          font-weight: 500;
          background-color: var(--theme-one);
          border: none;
          border-radius: 50px;
          padding: 5px 0px;
          margin: 20px 0px;
          cursor: pointer;

          transition: all 0.2s;
          &:hover {
            filter: brightness(120%);
          }
        }
      }
    }
    .dialog-add-task,
    .dialog-edit-task {
      width: min(380px, 100%);
      background-color: var(--theme-two);
      border: none;
      border-radius: 10px;;
      padding: 10px 25px;

      &::backdrop {
        background-color: black;
        opacity: 0.6;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h6 {
          color: var(--font-one);
          font-weight: 500;
          padding: 10px 0px;
        }
        div {
          display: flex;
          gap: 15px;
          button {
            background-color: transparent;
            border: none;
            background-color: var(--backdrop-two);
            border-radius: 50px;
            padding: 5px;
            cursor: pointer;
  
            display: flex;
            align-items: center;
  
            transition: all 0.2s;
            &:hover {
              filter: brightness(120%);
            }
            svg {
              @include index.icon-size(20px);
              color: var(--font-one);
            }
          }
        }
      }
      form {
        ul {
          display: grid;
          gap: 10px;
          li {
            list-style: none;
            div {
              label {
                color: var(--font-one);
                font-size: 0.8rem;
                margin: 4px;
              }
              span {
                color: var(--font-three);
                font-size: 0.8rem;
                margin: 4px;
              }
            }
            input {
              color: var(--font-one);
              font-size: 0.9rem;
              background-color: var(--theme-two);
              border: 1px solid var(--border);
              border-radius: 5px;
              caret-color: var(--font-one);
              height: 35px;
              padding: 10px;
              width: 100%;
              &::placeholder {
                font-size: 0.8rem;
                padding: 5px;
              }
              &:focus {
                outline: none;
              }
            }
            textarea {
              font-size: 0.9rem;
              color: var(--font-one);
              background-color: var(--theme-two);
              border: 1px solid var(--border);
              border-radius: 5px;
              caret-color: var(--font-one);
              padding: 10px;
              resize: vertical;
              width: 100%;
              &::placeholder {
                font-size: 0.8rem;
                padding: 5px;
              }
              &:focus {
                outline: none;
              }
            }
            input[type="date"] {
              font-size: 0.8rem;
              width: 100%;
              cursor: pointer;
              &::-webkit-calendar-picker-indicator {
                filter: var(--date-picker);
              }
            }
            select {
              font-size: 0.8rem;
              color: var(--font-one);
              background-color: var(--theme-two);
              border: 1px solid var(--border);
              border-radius: 5px;
              padding: 10px;
              width: 100%;
              cursor: pointer;
              &:focus {
                outline: none;
              }
            }
            button {
              color: white;
              font-weight: 500;
              background-color: var(--theme-one);
              border: none;
              border-radius: 50px;
              padding: 5px 0px;
              margin: 20px 0px;
              width: 100%;
              cursor: pointer;
    
              transition: all 0.2s;
              &:hover {
                filter: brightness(120%);
              }
            }
          }
        }
      }
    }
    .dialog-read-task {
      width: min(380px, 100%);
      background-color: var(--theme-two);
      border: none;
      border-radius: 10px;;
      padding: 10px 25px;
      &[open] {
        display: grid;
      }
      &::backdrop {
        background-color: black;
        opacity: 0.6;
      }
      &__header {
        margin: 25px 0px 5px 0px;
        h4 {
          color: var(--font-two);
          font-size: 0.7rem;
          font-weight: 500;
          letter-spacing: 2px;
          line-height: 0.9rem;
        }
        h5 {
          color: var(--font-one);
          font-size: 1.1rem;
          font-weight: 500;
        }
      }
      p {
        color: var(--font-two);
        font-size: 0.8rem;
        line-height: 25px;
        margin: 8px 0px;
      }
      &__info {
        margin: 15px 0px 10px 0px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        h6 {
          color: var(--font-one);
          font-size: 0.8rem;
          width: max-content;
          background-color: var(--backdrop-three);
          padding: 4px 15px;
          border-radius: 70px;
  
          display: flex;
          align-items: center;
        }
        div {
          width: max-content;
          background-color: var(--backdrop-three);
          padding: 4px 15px;
          border-radius: 70px;
  
          display: flex;
          align-items: start;
          gap: 10px;
          img {
            @include index.icon-size(15px);
            transform: translateY(1px);
          }
          span {
            color: var(--font-one);
            font-size: 0.8rem;
          }
        }
      }
      &__buttons {
        margin: 20px 0px;

        display: grid;
        align-items: center;
        grid-template-columns: 1fr 45px 45px;
        gap: 10px;

        button {
          color: white;
          font-weight: 500;
          background-color: var(--theme-one);
          border: none;
          border-radius: 50px;
          height: 40px;
          cursor: pointer;

          transition: filter 0.2s;
          &:hover {
            filter: brightness(120%);
          }
          &:focus {
            outline: none;
          }
        }
        .button-proceed-task--delete {
          background-color: rgb(202, 54, 54);
        }
        div {
          button {
            padding: 10px;
            svg {
              @include index.icon-size(20px);
            }
          }
          .button-close-dialog {
            svg {
              scale: 120%;
            }
          }
        }
      }
    }
    .dialog-read-due-task {
      width: min(380px, 100%);
      background-color: var(--theme-two);
      border: none;
      border-radius: 10px;;
      padding: 10px 25px;
      &[open] {
        display: grid;
      }
      &::backdrop {
        background-color: black;
        opacity: 0.6;
      }
      &__header {
        margin: 25px 0px 5px 0px;
        h4 {
          color: var(--font-two);
          font-size: 0.7rem;
          font-weight: 500;
          letter-spacing: 2px;
          line-height: 0.9rem;
        }
        h5 {
          color: var(--font-one);
          font-size: 1.1rem;
          font-weight: 500;
        }
      }
      p {
        color: var(--font-two);
        font-size: 0.8rem;
        line-height: 25px;
        margin: 12px 0px;
      }
      &__info {
        margin: 15px 0px 10px 0px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        h6 {
          color: var(--font-one);
          font-size: 0.8rem;
          width: max-content;
          background-color: var(--backdrop-three);
          padding: 4px 15px;
          border-radius: 70px;
  
          display: flex;
          align-items: center;
        }
        div {
          width: max-content;
          background-color: var(--backdrop-three);
          padding: 4px 15px;
          border-radius: 70px;
  
          display: flex;
          align-items: start;
          gap: 10px;
          img {
            @include index.icon-size(15px);
            transform: translateY(1px);
          }
          span {
            color: var(--font-one);
            font-size: 0.8rem;
          }
        }
      }
      &__buttons {
        margin: 20px 0px;

        display: grid;
        align-items: center;
        grid-template-columns: 1fr 45px;
        gap: 10px;

        button {
          color: white;
          font-weight: 500;
          background-color: var(--theme-one);
          border: none;
          border-radius: 50px;
          height: 40px;
          cursor: pointer;

          transition: filter 0.2s;
          &:hover {
            filter: brightness(120%);
          }
          &:focus {
            outline: none;
          }
        }
        .button-proceed-task--delete {
          background-color: rgb(202, 54, 54);
        }
        div {
          button {
            padding: 10px;
            svg {
              @include index.icon-size(20px);
            }
          }
          .button-close-dialog {
            svg {
              scale: 120%;
            }
          }
        }
      }
    }
  }
}