@use 'index';

body {
  #content {
    .dialog-create-board {
      background-color: index.$theme-dark;
      border: none;
      border-radius: 10px;;
      padding: 10px 25px;

      &::backdrop {
        background-color: black;
        opacity: 0.6;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h6 {
          color: index.$font-white;
          font-weight: bold;
          padding: 10px 0px;
        }
        button {
          background-color: transparent;
          border: none;
          background-color: index.$theme-gray;
          border-radius: 50px;
          padding: 5px;
          cursor: pointer;

          display: flex;
          align-items: center;

          transition: all 0.2s;
          &:hover {
            filter: brightness(120%);
          }
          img {
            @include index.icon-size(20px);
          }
        }
      }
      form {
        display: grid;
        label {
          color: index.$font-white;
          font-size: 0.8rem;
          margin: 2px;
        }
        input {
          color: index.$font-white;
          background-color: index.$theme-dark;
          border: 1px solid index.$theme-gray;
          border-radius: 5px;
          caret-color: index.$font-white;
          height: 35px;
          padding: 10px;
          &::placeholder {
            font-size: 0.8rem;
            padding: 5px;
          }
          &:focus {
            outline: none;
          }
        }
        button {
          color: index.$font-white;
          font-weight: bold;
          background-color: index.$theme-purple;
          border: none;
          border-radius: 50px;
          padding: 5px 0px;
          margin: 20px 0px;
          cursor: pointer;

          transition: all 0.2s;
          &:hover {
            filter: brightness(120%);
          }
        }
      }
    }
  }
}