@use 'index';

body {
  #content {
    header {
      padding: 0px 35px;
      background-color: index.$theme-dark;
      border-bottom: 1px solid index.$border-dark;

      grid-column: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 1.8rem;
        color: index.$font-white;
      }
      div {
        display: flex;
        gap: 20px;


        button {
          transition: all 0.2s;
          &:hover {
            transform: scale(95%);
          }
          &:active {
            transform: scale(90%);
          }
          @include index.button-styling();
        }
        .button-add-task {
          padding: 0px 22px;
          border-radius: 25px;
          background-color: index.$theme-purple;

          display: flex;
          align-items: center;
          gap: 5px;
          p {
            color: index.$font-white;
            font-weight: bold;
            font-size: 1rem;
          }
          img {
            @include index.icon-size(20px);
          }
        }
        .button-edit-board {
          padding: 12px;
          background-color: index.$theme-gray;
          border-radius: 50px;

          @include index.flex-center();
          img {
            @include index.icon-size(20px);
          }
        }
        .button-unhide {
          padding: 12px;
          background-color: index.$theme-gray;
          border-radius: 50px;
          @include index.flex-center();
          img {
            @include index.icon-size(20px);
            transform: scale(120%);
          }
        }
      }
    }
  }
}